.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* kinda fun, can make things spin */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #a8b2f7; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.FoundAtStores {
  list-style: none;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 150 px;
  display: grid;
}

.FoundProducts {
  list-style: none;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 150 px;
  display: grid;
}

.card-group {
  background-color: white;
  /* margin-left: 50px;
  margin-right: 50px; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 100 px;
  display: grid;
}

/* also part of the spinny thing */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
