.HomeView {
  background-color: #fae1be;
  margin-top: 0px;
}

/* .FeaturedProducts {
  margin-left: 100px;
  margin-right: 100px;
  column-count: 3;
  column-gap: 5px;
  background-color: white;
} */

.FeaturedStores {
  margin-left: 100px;
  margin-right: 100px;
  column-count: 2;
  column-gap: 5px;
  background-color: white;
}

.FeaturedContainer {
  background-color: white;
}

h4 {
  margin-bottom: 0.5px;
}
