.ProductsList {
  list-style: none;
  /* column-count: 3;
  column-gap: 5px; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 150 px;
  display: grid;
}

.Product {
  margin-bottom: 50px;
}

.Form {
  margin-top: 20px;
  margin-bottom: 30px;
  /* background-color: #fae1be; */
}
