nav {
  border: 1px solid #ccc;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding-top: 10px;
}

nav li {
  display: inline-block;
  margin: 0 5px;
}

nav a {
  padding: 10px;
  color: #e08baf;
  text-decoration: none;
}

nav a:hover {
  color: #fadfac;
}
